<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>690522019893-6b1blf0qca4c7piqur4ae8oqt255q19a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.690522019893-6b1blf0qca4c7piqur4ae8oqt255q19a</string>
	<key>API_KEY</key>
	<string>AIzaSyClhsSte4qMBiLbH_ifFQVOLyd5X6vd-QA</string>
	<key>GCM_SENDER_ID</key>
	<string>690522019893</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.VBD.devslopes-social</string>
	<key>PROJECT_ID</key>
	<string>devslopes-social-94218</string>
	<key>STORAGE_BUCKET</key>
	<string>devslopes-social-94218.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:690522019893:ios:2a92201b6df7060c</string>
	<key>DATABASE_URL</key>
	<string>https://devslopes-social-94218.firebaseio.com</string>
</dict>
</plist>